@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table,
th,
td {
  border: 1px solid black;

  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  min-width: 80vw;
  min-height: 100vh;
  text-align: center;
}

th {
  background-color: rgb(5, 86, 235);
  color: white;
}

td {
  min-height: 40vh;
}
tr {
  background-color: white;
  min-height: 40px;
}

tr:hover {
  background-color: rgb(236, 236, 236);
}

button {
  
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}
button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
